* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #4949ff;
}

header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: beige;
  font-weight: bold;
}
nav ul {
  display: flex;
  gap: 80px;
  list-style: none;
}
nav ul li:hover {
  background-color: white;
  color: #4949ff;
  border-radius: 20px;
  cursor: pointer;
}
nav li {
  padding: 10px;
}
#container-input{
    align-items: center;
    display: flex;
    justify-content: center;
    display: -ms-flexbox;
    
}
input{
    width: 50%;
    border-radius: 30px;
    padding: 25px;
    background: url('images/magnifiying-glass_93642.png') no-repeat 10px ;
      background-size: 20px 20px;
  height: 30px;
  padding-left: 40px;
  background-color: white;
    
}
#galery-card{
    background-color: pink;
    /* display: flex; */
    padding: 20px;
    display: grid;
    grid-template-columns:25% 25% 25%  ;
}
#card{
    background-color:gold;
    padding: 10px;
}